:root {
  --gradient-color-3: #5ecfff;
  --gradient-color-4: rgb(59, 167, 255);
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;

  background-image: linear-gradient(
    0deg,
    var(--gradient-color-3) 0%,
    var(--gradient-color-4) 100%
  );
}
